body {
  background-color: #1a1a1a;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 75vh;
}
#input {
  background-color: #1a1a1a;
  color: #fff6ca;
  position: fixed;
  outline: none;
  border: 1px solid #fff6ca;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 16px 12px;
  bottom: 0px;
  left: 0px;
  width: 93vw;
  height: 2em;
  font-size: 1.5em;
}

p.center{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 30s ease-in;
  -moz-transition: opacity 30s ease-in;
  -ms-transition: opacity 30s ease-in;
  -o-transition: opacity 30s ease-in;
}

.transbox {
  /* margin: 30px; */
  background-color: #fff6ca;
  border-radius: 24px;
  /* border-style: none; */
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  /* height: 2em; */
  /* display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column; */
}

.prompt {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
}

/* .load{
  -webkit-transition: opacity 30s ease-in;
  -moz-transition: opacity 30s ease-in;
  -ms-transition: opacity 30s ease-in;
  -o-transition: opacity 30s ease-in;
  opacity: 1;
} */

p {
  font-family: Cherry Swash;
  color: #fff6ca;
  font-size: 1.5em;
  text-align: center;
  margin: 0.1em 0;
}
p.fade-out {
  opacity: 0;
  -webkit-transition: opacity 10s ease-in-out;
  -moz-transition: opacity 10s ease-in-out;
  -ms-transition: opacity 10s ease-in-out;
  -o-transition: opacity 10s ease-in-out;
}
