body {
  background-color: #1a1a1a;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 75vh;
}
#input {
  background-color: #1a1a1a;
  color: #fff6ca;
  position: fixed;
  outline: none;
  border: 1px solid #fff6ca;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 16px 12px;
  bottom: 0px;
  left: 0px;
  width: 93vw;
  height: 2em;
  font-size: 1.5em;
}
p {
  font-family: Cherry Swash;
  color: #fff6ca;
  font-size: 1.5em;
  text-align: center;
  /* margin-top: 0.25em 0; */
}
p.fade {
  -webkit-transition: opacity 10s ease-in-out;
  -moz-transition: opacity 10s ease-in-out;
  -ms-transition: opacity 10s ease-in-out;
  -o-transition: opacity 10s ease-in-out;
  opacity: 0;
}
