/* .app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */

body {
  /* position: absolute; */
  /* left: 0; */
  /* width: 100%; */
  background-color: #1a1a1a;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  height: 75vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#inputBox {
  background-color: #1a1a1a;
  color: #fff6ca;
  position: absolute;
  outline: none;
  border: 1px solid #fff6ca;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 20px;
  margin: 16px 12px;
  bottom: 0px;
  left: 0px;
  width: 93vw;
  height: 2.3em;
  font-size: 1.3em;
}

p.center{
  position: absolute; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  /* opacity: 0; */
  /* -webkit-transition: opacity 30s ease-in;
  -moz-transition: opacity 30s ease-in;
  -ms-transition: opacity 30s ease-in;
  -o-transition: opacity 30s ease-in; */
}

p.prompt {
  position: absolute;
  top: 10px;
  width: 90vw;
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  /* justify-content: flex-start; */
}

p.tips {
  color: #ffffff;
  font-size: 1em;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 20s ease-in;
  -moz-transition: opacity 20s ease-in;
  -ms-transition: opacity 20s ease-in;
  -o-transition: opacity 20s ease-in;
}

/* .load{
  -webkit-transition: opacity 30s ease-in;
  -moz-transition: opacity 30s ease-in;
  -ms-transition: opacity 30s ease-in;
  -o-transition: opacity 30s ease-in;
  opacity: 1;
} */

p {
  font-family: Cherry Swash;
  color: #fff6ca;
  font-size: 1.5em;
  text-align: center;
  margin: 0.25em 0;
}

p.fade-out {
  opacity: 0;
  -webkit-transition: opacity 10s ease-in-out;
  -moz-transition: opacity 10s ease-in-out;
  -ms-transition: opacity 10s ease-in-out;
  -o-transition: opacity 10s ease-in-out;
}

p.center.fade-in {
  /* opacity: 0; */
  animation-name: p-fade-in;
  animation-duration: 10s;
}

@keyframes p-fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* .safari.keyboard .app-container {
  bottom: 270px;
} */

/* .safari.keyboard {
  bottom: 270px;
} */

/* To prevent auto-zoom in Safari
.safari input[type='text'] {
  font-size: 16px;
} */

/* @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) { 
  @media {
      .safari6.keyboard { 
        bottom: 270px;
      }
  }
}

@media not all and (min-resolution:.001dpcm) { 
  @media {
      .safari10.keyboard { 
        bottom: 270px;
      }
  }
} */
